.header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid  rgb(217, 208, 208);
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 4;
 
}
.left-side-header img{
  cursor: pointer;
}
.left-side-header{

width: 15%;
}

.mid-side-header{
width: 25%;
}
.mid-side-content div{
  cursor: pointer;
}
.mid-side-content button{
  cursor: pointer;
}
.mid-side-content{
border-color: rgb(196, 192, 192);
border-width: 1px;
border-style: solid;
display: flex;
height: 45px;
width: 300px;
border-radius: 22.5px;
text-align: center;
justify-content: space-around;
align-items: center;
}
.mid-side-content :nth-child(2){
  border-right: 1px solid gray ;
  border-left: 1px solid gray ;
  padding-right: 10px;
  padding-left: 10px;
}
.mid-side-content button{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border:none;
  background-color: rgb(207, 47, 100);
}
.right-side-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;

 
  
}
.right-side-header div{
  cursor: pointer;
}
.right-side-header button{
  height: 45px;
  padding: 0;
  background-color: white;
  border-radius: 22.5px;
  width: 70px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.Categorybar{
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 80px;
  background-color: white;
}
.Categorybar div{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.Categorybar div div img{
  height: 24px;
  width: 24px;
}
.categories{
  font-size: 12px;
}
.Categorybar button{
  border-radius: 15px;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  background-color: white;
  width: 90px;
  height: 48px;
  cursor: pointer;
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: start ;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
  padding-top: 80px;


}
.card{
  display: flex;
  flex-direction: column;
  margin: 30px;
  position: relative;
  z-index: 1;
}
.card div img{
  height: 260px;
  width: 250px;
  border-radius: 15px;
}
.black{
  position:absolute;
  right: 5px;
  top: 5px;
  padding: 3px;
  border: none;
  background: none;
  color:grey;
  font-size: 30px;
  
}
.red{
  position:absolute;
  right: 5px;
  top: 5px;
  padding: 3px;
  border: none;
  background: none;
  color:red;
  font-size: 30px;
  
}
.heart:hover{
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  color: red;
}


.heart:active{
  cursor: pointer;
  color: red;
}
.card :nth-child(2){
  display: flex;
  justify-content: space-between;
}
.selected-cat{
  border-bottom: 2px solid grey;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}
/* .top{
  position: fixed;
  background-color: white;
  width: 100%;
} */
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.data_entry center div{
  margin-top: 20px;

}
@media only screen and (max-width: 900px) {
  .right-side-header div strong{
    display: none;
  }
}
@media only screen and (max-width: 770px) {
  .right-side-header{
    display: none;
  }
  .left-side-header{
    
  }
  .header{
    text-align: center;
  }
  .mid-side-header{
    display: none;
  }
}
