.header{
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid  rgb(217, 208, 208);
  align-items: center;
}
.left-side-header img{
  cursor: pointer;
}
.left-side-header{

width: 15%;
}

.mid-side-header{
width: 25%;
}
.mid-side-content div{
  cursor: pointer;
}
.mid-side-content button{
  cursor: pointer;
}
.mid-side-content{
border-color: rgb(196, 192, 192);
border-width: 1px;
border-style: solid;
display: flex;
height: 45px;
width: 300px;
border-radius: 22.5px;
text-align: center;
justify-content: space-around;
align-items: center;
}
.mid-side-content :nth-child(2){
  border-right: 1px solid gray ;
  border-left: 1px solid gray ;
  padding-right: 10px;
  padding-left: 10px;
}
.mid-side-content button{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border:none;
  background-color: rgb(207, 47, 100);
}
.right-side-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;

 
  
}
.right-side-header div{
  cursor: pointer;
}
.right-side-header button{
  height: 45px;
  padding: 0;
  background-color: white;
  border-radius: 22.5px;
  width: 70px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.Categorybar{
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.Categorybar div{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.Categorybar div div img{
  height: 24px;
  width: 24px;
}
.categories{
  font-size: 12px;
}
.Categorybar button{
  border-radius: 15px;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  background-color: white;
  width: 90px;
  height: 48px;
  cursor: pointer;
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: start ;
  padding-left: 50px;
  padding-right: 50px;
}
.card{
  display: flex;
  flex-direction: column;
  margin: 30px;

}
.card div img{
  height: 260px;
  width: 250px;
  border-radius: 15px;
}
.card :nth-child(2){
  display: flex;
  justify-content: space-between;
}
/* .right-side-header button :nth-child(2){
  height: 100%;
} */

/* .right-side-header :nth-child(1){
  width: 50%;
  border-radius: 22.5px;
}
.right-side-header :nth-child(2){
  width: 20%;

}
.right-side-header :nth-child(3){
  width: 30%;

} */