.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(217, 208, 208);
  align-items: center;
}
.left-side-header{
margin-left: 5%;
}

.mid-side-header{

}
.mid-side-content{
border-color: rgb(196, 192, 192);
}
.right-side-header{

}